html, body {
    margin: 0;
    height: 100%;
    background-color: rgb(218, 208, 181);
    display: block;
    box-sizing: border-box;
    width: 100%;
}

nav { 
    display: flex;
    background-color: rgb(34, 33, 33);
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin: -20px;
    box-shadow: 10px 5px 5px black;
}

a {
    box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    color: white;
    font-size: 25px;
}

a:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
  }

.home-flex {
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    border: 10px solid black;
    border-radius: 100px;
    margin: 200px;
    box-shadow: 0 0 12px 5px;
    position: relative;
    bottom: 80px;
}

.home_div1 { flex: 100%;
    justify-content: center;
    border: 2px solid black;
    background-color: white;
    box-shadow: 0 0px 12px 2px;
    border-radius: 25px;
    border-width: medium;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    position: relative;
    z-index: 1;
}

.home_div2 {
    flex: 100%;
    position: relative;
    left: 470px;
    z-index: 2;
    bottom: -15px;
}

.home_div3 {
    flex: 100%;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    position: relative;
    z-index: 3;
    bottom: 70px;
}

#main-head {
    text-align: center;
}

#home-image { 
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid black;
}

#home-quote {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    background-color: white;
    box-shadow: 0 0px 12px 2px;
    border-radius: 25px;
    border-width: medium;
}

form {
    display: flex;
    position: relative;
    width: 700px;
    bottom: 200px;
    left: 500px;
    border: 8px groove;
}

.about-main {
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-header {
    text-align: center;
    padding-top: 20px;
    border-bottom: 3px solid black;
}

.about-section {
    border: 10px solid;
    font-size: 20px;
    text-align: center;
    width: 500px;
    height: 800px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    box-shadow: 6px 6px 6px 6px;
    transition: 0.15s;
}
.about-section:hover {
    transform: scale(1.10);
}
.about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
}

#port-header {
    text-align: center;
    border-bottom: 3px solid;
}

.port-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.port-sections {
    flex: 100%;
    transition: box-shadow .3s;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin: 30px 20px 20px 30px;
    text-align: center;
    border: 5px solid white;
}
.port-sections:hover {
    box-shadow: 0 0 12px 12px rgb(34, 33, 33)
}
.port-h2 {
    border: 2px solid blue;
    box-shadow: 0 0 12px 5px;
    margin-left: 50px;
    margin-right: 50px;
}